// Margin & padding classes
$spaceAmounts: (1,2,3,4,5);

@each $space in $spaceAmounts {
    // All around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }
    // Vertical margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }
    // Horizontal margin
    .mx-#{$space} {
        margin: 0 #{$space}rem;
    }
    
    // All around padding
    .p-#{$space} {
        padding: #{$space}rem;
    }
    // Vertical padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
    // Horizontal padding
    .px-#{$space} {
        padding: 0 #{$space}rem;
    }
}