@mixin flex-center($direction, $background) {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}

header {
    @include flex-center(row, lightblue);
    color: $textColor;
    button {
        background-color: $primaryButton;
        &::before {
            content: "<css-before>";
        }
        &::after {
            content: "<css-after>";
        }
    }
}
