// @use 'partials/index' as *; // You can use the * as a global import on an index.
@use 'partials/colors' as color;
@use 'partials/fonts' as font;
@use 'components/buttons' as btn;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: color.$light-color;
    font-family: font.$font-stack;
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.showcase {
    // @include is used for mixins
    // Mixin inside of _colors.scss replaces the background-color and color stylings.
    @include color.set-background(color.$primary-color);
    height: 600px;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style-type: none;
        }

        li {
            padding: 15px;
        }

        a {
            color: color.set-text-color(color.$primary-color);

            &:hover {// The '&' can be used to replace the parents name.
                color: color.$secondary-color;
            }
        }
        
    }

    // The '&' can be used to replace the parents name.
    // In this case, we could write it as one of the following:
    // 1. .showcase-content 
    // 2. &-content
    &-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 50%;
        }

        h1 {
            font-size: 50px;
            line-height: 1.1;
        }
    }
}

.container {
    max-width: 1100px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
}

// Utilities
@import 'utilities/spacing';
// Media Queries
@import 'utilities/mobile'